@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: #e0e8ff;
  --bright-blue: #3829e0;
  --very-pale-blue: #f5f7ff;
  --desat-blue: #7280a7;
  --active-blue: #766cf1;
  --dark-blue: #1f2f56;
  --text-pale-blue: #717fa6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: var(--dark-blue);

  line-height: 1.5em;
}

button,
a {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

/* Container */

main {
  background-color: var(--pale-blue);
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 437px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.component {
  background-color: #fff;
  max-width: 450px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-hero {
  border-radius: 25px 25px 0 0;
  max-height: 220px;
  width: 100%;
}

.summary {
  text-align: center;
  padding: 45px;
  margin-top: 10px;
}

.summary p {
  font-weight: 500;
  color: var(--text-pale-blue);
}

.summary h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 28px;
}

.pricing {
  max-width: 325px;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
}

.pricing-left {
  display: flex;
}

.pricing-left img {
  margin-right: 10px;
}

.pricing .price {
  font-weight: 500;
}

.pricing-right {
  display: flex;
  align-items: center;
}

.pricing-right a:hover,
.pricing-right a:focus {
  color: var(--active-blue);
  text-decoration: none;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 45px 0;
}

.action button {
  max-width: 300px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
}

.action .payment {
  margin-bottom: 8px;
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
}

.payment:hover,
.payment:focus {
  background-color: var(--active-blue);
}

.action .cancel {
  background-color: var(--very-pale-blue);
}

@media screen and (min-width: 500px) {
  .container {
    background-image: url("../images/pattern-background-desktop.svg");
  }

  .summary {
    text-align: center;
    padding: 45px;
  }
}
